{% extends 'vespawatch/base.html' %}

{% load static %}
{% load i18n %}
{% load page_fragments %}

{% block content %}
<main class="container" id="vw-main-app">
    {% if user.is_staff %}
        <div class="alert alert-info">{% trans 'You are logged in as an admin user and have access to all zones.' %}</div>
    {% endif %}

    {% include 'vespawatch/includes/messages.html' %}

    <p><a class="btn btn-lg btn-primary" href="{% url 'vespawatch:nest-add' %}?redirect_to=management">{% trans 'Record a nest' %}</a></p>

    <vw-management-page admin="{% if user.is_staff %}1{% else %}0{% endif %}" init-zone='{% if user.profile.zone %}{ "id": {{ user.profile.zone.pk }}, "name": "{{ user.profile.zone.name }}" }{% endif %}'>
    </vw-management-page>
</main>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
