{% extends 'vespawatch/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="container" id="vw-main-app">
    <div class="text-center">
        <h1>{% trans "What did you observe?" %}</h1>

        <a class="btn btn-outline-primary btn-lg" href="{% url 'vespawatch:individual-add' %}?redirect_to={{ redirect_to }}">{% trans 'Individual(s)' %}</a>
        <a class="btn btn-outline-primary btn-lg" href="{% url 'vespawatch:nest-add' %}?redirect_to={{ redirect_to }}">{% trans 'Nest' %}</a>
    </div>
</main>
{% endblock %}
